<%= stylesheet_link_tag 'history' %>

<div class="container-fluid">
  <h1>History</h1>
  <div class="row">
		<div class="col-md-8 offset-md-2">
			<ul class="timeline">
        <% @events.each do |event| %>
          <li>
            <h3><%= event[1]['title'] %></h3>
            <!--<h3 class="float-right"><%= event[1]['date'] %></h3>-->
            <p><strong><%= event[1]['date'] %></strong><br /><%= event[1]['description'] %></p>
          </li>
        <% end %>
			</ul>
		</div>
	</div>
</div>
